/* variables */

:root {
    --primary-color: #d694d7;
    --primary-color-100: #F1DAF1;
    --primary-color-300: #D490D5;

    --secondary-color: #7999ec;
    --secondary-color-600: #1945B3;
    --secondary-color-900: #06112D;

    --neutral-color: #e0e0e0;

    --background-color: #1b1b1b;

    --surface-color: #252525;

    --lobster-font: "Lobster Two", sans-serif;
    --sans-font: "DM Sans", sans-serif;
}

.center-row {
    display: flex;
    justify-content: center;
    align-items: center;
}

.center-column {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}


/* general style */

html {
    background-color: var(--background-color);
    font-size: 14px;
}

* {
    font-family: var(--sans-font);
    margin: 0;
    padding: 0;
}

a {
    text-decoration: none;
}

/* text style */
h1 {
    color: var(--secondary-color-600);
    text-transform: uppercase;
    font-size: 2rem;
}

h2 {
    color: var(--primary-color);
    font-family: var(--lobster-font);
    letter-spacing: 0.6rem;
    font-size: 1.8rem;
}

h5 {
    color: var(--secondary-color);
}

p {
    color: var(--neutral-color);
    font-size: 1.1rem;
}

.label-text {
    color: var(--background-color);
    background-color: var(--primary-color-100);
    text-transform: uppercase;
    font-weight: 600;
    padding: 0.8rem 1.5rem;
    font-size: 1.1rem;
    border-radius: 12px;
}

#check,
.nav-btn {
    display: none;
}

/* .nav-option {
    display: none;
} */