{% load static %}
<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link
        href="https://fonts.googleapis.com/css2?family=DM+Sans:ital,opsz,wght@0,9..40,100..1000;1,9..40,100..1000&family=Lobster+Two:ital,wght@0,400;0,700;1,400;1,700&display=swap"
        rel="stylesheet">
    <title>{% block title %}{% endblock title %}</title>
    <link rel="stylesheet" href="{% static 'css/base.css' %}">
    <link rel="stylesheet" href="{% static 'css/header.css' %}">
    <link rel="stylesheet" href="{% static 'css/responsive.css' %}">
    <link rel="stylesheet" href="{% static 'css/sections.css' %}">
</head>

<body>
    <header>
        <!-- left side -->
        <div class="logo center-row">
            <a href="">
                <h2>Philip Yoder</h2>
            </a>
        </div>
        <!-- right side -->
        <nav class="nav-menu">
            <!-- hamburger button -->
            <input type="checkbox" id="check">

            <div class="nav-btn">
                <label for="check">
                    <span></span>
                    <span></span>
                    <span></span>
                </label>
            </div>
            <!-- the menu -->
            <div class="nav-options center-row">
                <a href="{% url 'about' %}">about me</a>
                <a href="{% url 'projects_list' %}">projects</a>
                <a href="">experience</a>
                <a href="{% url 'contact' %}">contact</a>
            </div>
        </nav>
    </header>

    {% block content %}
    {% endblock content %}

    <footer>footer</footer>
</body>

</html>